@import url('https://rsms.me/inter/inter.css');

* {
  box-sizing: border-box;
}

html,
body,
#root,
.overlay {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter var', sans-serif;
  /* background: #f0f0f0; */
  background: rgba(246, 248, 252, .5)
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
}