{
  "presets": [
    [
      "@nrwl/react/babel",
      {
        "runtime": "automatic"
      },
      
    ],
    ['@babel/preset-env', {targets: {node: 'current'}}],
    '@babel/preset-typescript'
  ],
  "plugins": []
}
